* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.p{
    text-align: center;
}

h2{
    text-align: center;
}

.head {
    color: white;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,87,176);
    background: linear-gradient(90deg, rgba(0,87,176,1) 0%, rgba(74,124,125,1) 37%, rgba(255,215,0,1) 100%);
    text-align: center;
    z-index: 2;
}

.info{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #0057b7;
    color: #ffd700;
}

.point{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #ffd700;
    color: #0057b7;
}

.transport{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #0057b7;
    color: #ffd700;
}

.voice{

    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #ffd700;
    color: #0057b7;
}

.lodging{
    width: 100%;
    padding: 20px;
    background-color: #0057b7;
    color: #ffd700;
}

.psy{
    width: 100%;
    text-align: left;
    padding: 20px;
    background-color: #ffd700;
    color: #0057b7;
}